// К О Л Ь О Р И

$primary-text-color: #131313;
$primary-white-color: #fcfcfc;
$focus-color-text: #d6936d;
$bg-color-body: #84a278;
$fill-icon: #fcfcfc;
$bg-color-button: #f8d24e;
$color-button-disable: #ababab;
$copyright-color: #7a7a7a;
$inverse-color: #ffffff;

//
$inverse-color: #2e1469;
