// К О Л Ь О Р И 

$primary-text-color: #131313;
$primary-white-color: #FCFCFC;
$focus-color-text: #D6936D;
$bg-color-body: #84A278;
$fill-icon: #FCFCFC;;
$bg-color-button: #F8D24E;
$color-button-disable:#ABABAB;
$copyright-color: #7a7a7a;
$inverse-color: #ffffff;
