<section class="about" id="about">
  <div class="container">
    <h2 class="about_h">TRADITION AND LOVE</h2>
    <strong class="about_strong">HOW IT’S MADE?</strong>

    <!-- перевернута назва на 480px -->
    <strong class="about_strong_two">HOW IT’S MADE?</strong>
    <h2 class="about_h_two">TRADITION AND LOVE</h2>

        <div class="about_div">
            <div class="about_picture_div">
            <picture class="about_picture" width="100%">
                <source srcset="./images/about/cow-desktop.png 1x, ./images/about/cow-desktop-2x.png 2x"
                media="(min-width:1200px)"/>
                <source srcset="./images/about/cow-tablet.png 1x, ./images/about/cow-tablet-2x.png  2x" 
                media="(min-width:768px)"/>
                <source srcset="./images/about/cow-mob.png 1x, ./images/about/cow-mob-2x.png  2x"
                media="(min-width:10px)"/>
                <img src="./images/about/cow-mob.png"
                alt="cow"/></picture>
            </div>
            <div class="about_text">
                <p class="about_p">
                    Ice is a place where you will become not only a little happier, but also healthier. Health is the main value for us, and we follow it when creating our handmade desserts. 
                </p>
                <p class="about_p">
                    We use traditional recipes and 100% natural ingredients. Our products are so natural that they can be given to children from the age of three years. Sweets lovers can expect 55 types of ice cream, 15 types of coffee and 23 milkshakes. 
                </p>
                <p class="about_p mob">
                    This is enough to choose ice cream and coffee for any mood!
                </p>
                <button type="button" class="about_button ">
                    Read more >
                </button>
            </div>
        </div>
    </div>
        </section>