<section class="advantages advantages__section">
<div class="container ">
    <h2 class="advantages__title visually-hidden"> Advantages</h2>
    <ul class="advantages__list">
        <li class="advantages__item advantages__item-cow"> 
            
            <p class="advantages__numbers">721</p>
            <p class="advantages__text">Liters of milk our beautiful cows give per day, tasting green grass and flowers</p>
        </li>
        <li class="advantages__item advantages__item-kg">
            <p class="advantages__numbers">16kg</p>
            <p class="advantages__text">Of ice cream a month helps with stress, but don't forget about the gym</p>
        </li>
        <li class="advantages__item advantages__ice-cream">
            
            <p class="advantages__numbers">84</p>
            <p class="advantages__text">Flavors of ice cream and toppings, everyone will like this precios</p>
    </li>
    
 
    </ul>
    
</div>
</section>