<section class="advantages">
<div class="container ">
    <h2 class="advantages__title visually-hidden"> Advantages</h2>
    <ul class="advantages__list">
        <li class="advantages__item"> 
            <p class="advantages__numbers">721</p>
            <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages__item">
            <p class="advantages__numbers">16kg</p>
            <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages__item">
            
            <p class="advantages__numbers">84</p>
            <p class="advantages__text">  Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    </ul>
</div>
</section>