<section class="contacts" id="contacts">
  <div class="contacts__container container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts__list-card list">
      <li class="contacts__item-card">
        <div class="contacts__card">
          <p class="contacts__name">CAFE</p>
          <address class="address">
            <p class="address__town">Chicago</p>
            <a
              href="https://goo.gl/maps/3fSLpdFhmbrfy8b1A"
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="address__link link"
              >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
            >
          </address>
          <ul class="contacts__list contacts__list-week list">
            <li class="contacts__item-week">
              <p class="contacts__days-week">
                Monday - Friday<span class="contacts__time-week">06:00 AM - 10:00 PM</span>
              </p>
            </li>
            <li class="contacts__item-week contacts__item-weekend">
              <p class="contacts__days-week">
                Saturday - Sunday<span class="contacts__time-week">08:00 AM - 16:00 PM</span>
              </p>
            </li>
          </ul>
          <ul class="contacts__list contacts__list-join list">
            <li class="contacts__item-join">
              <a href="tel:+610383766284" class="contacts__link-join link">+61(0) 383 766 284</a>
            </li>
            <li class="contacts__item-join">
              <a href="mailto:noreply@envato.com" class="contacts__link-join link"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts__item-card">
        <div class="contacts__card">
          <p class="contacts__name">FOOD TRUCK</p>
          <address class="address">
            <p class="address__town">Los Angeles</p>
            <a
              href="https://goo.gl/maps/SD9aPZmJa5TjTY8s9"
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="address__link link"
              >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
            >
          </address>
          <ul class="contacts__list contacts__list-week list">
            <li class="contacts__item-week">
              <p class="contacts__days-week">
                Monday - Friday<span class="contacts__time-week">06:00 AM - 10:00 PM</span>
              </p>
            </li>
            <li class="contacts__item-week contacts__item-weekend">
              <p class="contacts__days-week">
                Saturday - Sunday<span class="contacts__time-week">08:00 AM - 16:00 PM</span>
              </p>
            </li>
          </ul>
          <ul class="contacts__list contacts__list-join list">
            <li class="contacts__item-join">
              <a href="tel:+610383766284" class="contacts__link-join link">+61(0) 383 766 284</a>
            </li>
            <li class="contacts__item-join">
              <a href="mailto:noreply@envato.com" class="contacts__link-join link"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts__item-card">
        <div class="contacts__card">
          <p class="contacts__name">CAFE</p>
          <address class="address">
            <p class="address__town">New York</p>
            <a
              href="https://goo.gl/maps/cxih1fEqC8WH7PWV8"
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="address__link link"
              >726 Sterling Pl, Brooklyn, NY 11222, USA</a
            >
          </address>
          <ul class="contacts__list contacts__list-week list">
            <li class="contacts__item-week">
              <p class="contacts__days-week">
                Monday - Friday<span class="contacts__time-week">06:00 AM - 10:00 PM</span>
              </p>
            </li>
            <li class="contacts__item-week contacts__item-weekend">
              <p class="contacts__days-week">
                Saturday - Sunday<span class="contacts__time-week">08:00 AM - 16:00 PM</span>
              </p>
            </li>
          </ul>
          <ul class="contacts__list contacts__list-join list">
            <li class="contacts__item-join">
              <a href="tel:+610383766284" class="contacts__link-join link">+61(0) 383 766 284</a>
            </li>
            <li class="contacts__item-join">
              <a href="mailto:noreply@envato.com" class="contacts__link-join link"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <div class="contacts__buttons">
      <button type="button" class="contacts__btn  btn-locations js-open-modal" data-modal="4">
        Our Locations<svg width="12" height="12" class="icon-arrow-right-bold">
          <use href="./images/icons.svg/sprite.svg#icon-arrow-right-bold"></use>
        </svg>
      </button>
      <button type="button" class="contacts__btn btn-franchise">
        Franchise<svg width="12" height="12" class="icon-arrow-right-bold">
          <use href="./images/icons.svg/sprite.svg#icon-arrow-right-bold"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
