<footer>
  <div class="container">
    <div class="footer__wraper">
      <div>
        <p class="footer__text">homemade ice cream made</p>
        <strong class="footer__strong">with passion</strong>
      </div>

      <div class="footer__wraper--auto">
        <ul class="socials">
          <li>
            <a
              href="https://github.com"
              aria-label="github"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="socials__icon" width="34" height="34">
                <use href="./images/icons.svg/sprite.svg#github"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="https://web.telegram.org/"
              aria-label="telegram"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="socials__icon" width="34" height="34">
                <use href="./images/icons.svg/sprite.svg#telegram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="https://facebook.com"
              aria-label="Facebook"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="socials__icon" width="34" height="34">
                <use href="./images/icons.svg/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
        </ul>

        <p class="footer__text-link">
          Feel free to contact
          <a class="footer__link" href="tel:+61(0)383766284"
            >+61 (0) 383 766 284</a
          >
        </p>
      </div>
    </div>

    <hr class="footer__line" />
    <p class="footer__copyright">© 2022 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
