<section class="gallery">
  <div class="gallery__container">
    <h2 class="visually-hidden">Gallery</h2>
    <div class="gallery__list gallery-slick">
      <div class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery-1-desktop.png    1x,
              ./images/gallery/gallery-1-desktop-2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery/gallery-1-tablet.png    1x,
              ./images/gallery/gallery-1-tablet-2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/gallery-1-mob.png    1x,
              ./images/gallery/gallery-1-mob-2x.png 2x
            "
            media="(max-width:767px)"
          />
          <img
            src="./images/gallery/gallery-1-mob.png"
            alt="ice cream picture"
            class="gallery__image"
          />
        </picture>
      </div>
      <div class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery-2-desktop.png    1x,
              ./images/gallery/gallery-2-desktop-2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery/gallery-2-tablet.png    1x,
              ./images/gallery/gallery-2-tablet-2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/gallery-2-mob.png    1x,
              ./images/gallery/gallery-2-mob-2x.png 2x
            "
            media="(max-width:767px)"
          />
          <img
            src="./images/gallery/gallery-2-mob.png"
            alt="ice cream picture"
            class="gallery__image"
          />
        </picture>
      </div>
      <div class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery-3-desktop.png    1x,
              ./images/gallery/gallery-3-desktop-2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery/gallery-3-tablet.png    1x,
              ./images/gallery/gallery-3-tablet-2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/gallery-3-mob.png    1x,
              ./images/gallery/gallery-3-mob-2x.png 2x
            "
            media="(max-width:767px)"
          />
          <img
            src="./images/gallery/gallery-3-mob.png"
            alt="ice cream picture"
            class="gallery__image"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
