<header class="header">
  <div class="header__wrapper container">
    <nav class="header__nav">
  <a href="#" class="header__logo">
    <picture>
      <source
        srcset="
          ./images/hero-header/logo-desktop.png    1x,
          ./images/hero-header/logo-desktop-2x.png 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ./images/hero-header/logo-tablet.png    1x,
          ./images/hero-header/logo-tablet-2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/hero-header/logo-mob.png    1x,
          ./images/hero-header/logo-mob-2x.png 2x
        "
      />
      <img src="./images/hero-header/logo-mob.png" alt="логотип" />
    </picture>
  </a>
      <ul class="header__list list">
        <li class="header__block">
          <a class="header__nav-link link" href="./index.html">Home</a>
        </li>
        <li class="header__block">
          <a class="header__nav-link link" href="#about">How it’s made?</a>
        </li>
        <li class="header__block">
          <a class="header__nav-link link" href="#products">Our products</a>
        </li>
        <li class="header__block">
          <a class="header__nav-link link" href="#contacts">Contact</a>
        </li>
      </ul>
      <button type="button" class="menu-open" data-menu-open>
        <svg class="menu-open-icon" width="32" height="32">
            <use href="./images/icons.svg/sprite.svg#icon-btn-mob-menu"></use>
        </svg>
      </button>
      <button type="button" class="button header-btn js-open-modal" data-modal="5">Buy now 
        <svg class="btn-arrow" width="12" height="12">
        <use href="./images/icons.svg/sprite.svg#icon-arrow-right-bold"></use>
    </svg></button>
  </div>

<!--------- mobile menu-------->

<div class="mob-menu is-hidden" data-menu>
  <div class="menu-header">
    <a href="#">
              <picture>
            <source
              srcset="
                ./images/hero-header/logo-desktop.png    1x,
                ./images/hero-header/logo-desktop-2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/hero-header/logo-tablet.png    1x,
                ./images/hero-header/logo-tablet-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/hero-header/logo-mob.png    1x,
                ./images/hero-header/logo-mob-2x.png 2x
              "
            />
            <img src="./images/hero-header/logo-mob.png" alt="логотип" />
          </picture>
    </a>
    <button type="button" class="menu-close" data-menu-close>
      <svg class="menu-open-close" width="32" height="32">
          <use href="./images/icons.svg/sprite.svg#icon-close-line"></use>
      </svg>
    </button>
  </div>
  <div class="menu__container">
  <nav class="menu__navigation">
    <ul class="menu-list list">
      <li class="menu-item"><a class="menu-link link" href="#home">Home</a></li>
      <li class="menu-item"><a class="menu-link link" href="#about">How it’s made?</a></li>
      <li class="menu-item"><a class="menu-link link" href="#products">Our products</a></li>
      <li class="menu-item"><a class="menu-link link" href="#contacts">Contact</a></li>
    </ul>
  </nav>
  <button type="button" class="button menu-btn js-open-modal menu-buy" data-modal="5">Buy now 
    <svg class="btn-arrow" width="12" height="12">
    <use href="./images/icons.svg/sprite.svg#icon-arrow-right-bold"></use>
</svg></button>
</div>
</header>