<section class="section hero">
    <div class="hero__content">
        <h1 class="hero__tittle">ice cream
            made with<span class="hero__tittle-passion"> passion</span></h1>
        <ul class="hero__btn-list">
            <button class="hero__btn-product">Products</button>
            <button class="hero__btn-made ">How it’s made?</button>
        </ul>
        <div class="hero__wrapper">
            <picture>
                <source srcset="./images/hero-header/plate-desktop.png 1x, ./images/hero-header/plate-desktop-2x.png 2x"
                    media="(min-width: 1200px)" />
                <source srcset="./images/hero-header/plate-tablet.png 1x, ./images/hero-header/plate-tablet-2x.png 2x"
                    media="(min-width: 768px)" />
                <img src="./images/hero-header/plate-desktop.png" alt="" />
            </picture>
            <div class="hero__wrapper-info">
                <p class="hero__info">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                </p>
                <a class="hero__link-menu" href="#">
                    <svg class="hero__link-icon"><use href="./images/icons.svg/sprite.svg#icon-arrow"></use></svg>
                </a>
            </div>
        </div>
    </div>
    <div class="hero_ice-cream">
        <picture>
            <source srcset="./images/hero-header/ice-cream-desktop.png 1x, ./images/hero-header/ice-cream-desktop-2x.png 2x"
                media="(min-width: 1200px)" />
            <source srcset="./images/hero-header/ice-cream-tablet.png 1x, ./images/hero-header/ice-cream-tablet-2x.png 2x"
                media="(min-width: 768px)" />
            <source srcset="./images/hero-header/ice-cream-mob.png 1x, ./images/hero-header/ice-cream-mob-2x.png 2x"
                />
            <img src="./images/hero-header/ice-cream-mob.png" alt="" />
        </picture>
    </div>
    <ul class="hero__list">
        <li class="hero__block">
            <span class="hero__num">16</span>
            <p class="hero__text">cafes</p>
        </li>
        <li class="hero__block">
            <span class="hero__num">23</span>
            <p class="hero__text">food trucks</p>
        </li>
    </ul>
    <div  class="hero__dots">
        <picture>
            <source srcset="./images/hero-header/header-dots-desktop.png 1x, ./images/hero-header/header-dots-desktop-2х.png 2x" media="(min-width: 1200px)" />
            <source srcset="./images/hero-header/header-dots-tablet.png 1x, ./images/hero-header/header-dots-tablet-2х.png 2x" media="(min-width: 768px)" />
            <source srcset="./images/hero-header/header-dots-mob.png 1x, ./images/hero-header/header-dots-mob-2х.png" media="(min-width: 480px)" />
            <img src="./images/hero-header/header-dots-mob.png" alt="" />
        </picture>
    </div>

</section>