<div class="modal modal-nutrition" data-modal="1">
  <svg
    class="modal__cross js-modal-close"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
  >
    <path
      d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"
    />
  </svg>
  <h2 class="modal__title">Chololate icecream</h2>
  <div class="modal-picture__wrap">
    <picture class="modal-picture">
      <source
        srcset="
          ./images/products/ingredients-ice-cream-modal.png    1x,
          ./images/products/ingredients-ice-cream-modal-2x.png 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ./images/products/ingredients-ice-cream-modal.png    1x,
          ./images/products/ingredients-ice-cream-modal-2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/products/ingredients-ice-cream-modal.png    1x,
          ./images/products/ingredients-ice-cream-modal-2x.png 2x
        "
        media="(min-width: 480px)"
      />
      <img
        class="products__picture"
        src="./images/products/ingredients-ice-cream-modal.png"
        alt="Ingredients Ice cream"
      />
    </picture>
    <div class="back-shadow"></div>
  </div>

  <div class="nutrition-facts">
    <ul class="nutrition-facts__list">
      <li class="nutrition-facts__list-weight">320</li>
      <li class="nutrition-facts__list-measure">kcal</li>
    </ul>
    <ul class="nutrition-facts__list">
      <li class="nutrition-facts__list-weight">4g</li>
      <li class="nutrition-facts__list-measure">Protein...</li>
    </ul>
    <ul class="nutrition-facts__list">
      <li class="nutrition-facts__list-weight">8,2g</li>
      <li class="nutrition-facts__list-measure">Fats</li>
    </ul>
    <ul class="nutrition-facts__list">
      <li class="nutrition-facts__list-weight">40,4g</li>
      <li class="nutrition-facts__list-measure">Carbs</li>
    </ul>
  </div>

  <h3 class="ingredient-title">Ingredients</h3>
  <div class="nutrition">
    <ul class="nutrition-ingredients">
      <li>Milk</li>
      <li>100ml</li>
    </ul>
    <ul class="nutrition-ingredients">
      <li>Belgian chocolate</li>
      <li>20g</li>
    </ul>
    <ul class="nutrition-ingredients">
      <li>Cream</li>
      <li>150 ml</li>
    </ul>
    <ul class="nutrition-ingredients">
      <li>MCocoa powder</li>
      <li>30g</li>
    </ul>
    <ul class="nutrition-ingredients">
      <li>Sugar</li>
      <li>40g</li>
    </ul>
    <ul class="nutrition-ingredients">
      <li>Vanilla sugar</li>
      <li>10g</li>
    </ul>
  </div>
  <form class="form-modal-2">
    <input
      class="field-group__input nutrition-js"
      type="text"
      name="user-name"
      id="user-name"
      placeholder="Name"
    />

    <input
      class="field-group__input nutrition-js"
      type="tel"
      id="tel"
      placeholder="+380 (__) ___-__-__"
      data-slots="_"
      title="+380 (00) 000-00-00"
    />

    <textarea
      id="comment"
      class="field-group__textarea"
      name="comment"
      rows="10"
      placeholder="Comment"
    ></textarea>

    <button class="form-button nutrition-button-js" type="submit">
      Submit
    </button>
  </form>
</div>
