<div class="modal modal-nutrition" data-modal="1">
  <svg
    class="modal__cross js-modal-close"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
  >
    <path
      d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"
    />
  </svg>
  <h2 class="modal__title">Chololate icecream</h2>
  <div class="modal-picture__wrap">
    <span class="chocolate-ice-cream"></span>
  </div>

  <div class="nutrition-facts">
    <ul class="nutrition-facts__list">
      <li class="nutrition-facts__list-weight">320</li>
      <li class="nutrition-facts__list-measure">kcal</li>
    </ul>
    <ul class="nutrition-facts__list">
      <li class="nutrition-facts__list-weight">4g</li>
      <li class="nutrition-facts__list-measure">Protein...</li>
    </ul>
    <ul class="nutrition-facts__list">
      <li class="nutrition-facts__list-weight">8,2g</li>
      <li class="nutrition-facts__list-measure">Fats</li>
    </ul>
    <ul class="nutrition-facts__list">
      <li class="nutrition-facts__list-weight">40,4g</li>
      <li class="nutrition-facts__list-measure">Carbs</li>
    </ul>
  </div>

  <h3 class="ingredient-title">Ingredients</h3>
  <div class="nutrition">
    <ul class="nutrition-ingredients">
      <li>Milk</li>
      <li>100ml</li>
    </ul>
    <ul class="nutrition-ingredients">
      <li>Belgian chocolate</li>
      <li>20g</li>
    </ul>
    <ul class="nutrition-ingredients">
      <li>Cream</li>
      <li>150 ml</li>
    </ul>
    <ul class="nutrition-ingredients">
      <li>MCocoa powder</li>
      <li>30g</li>
    </ul>
    <ul class="nutrition-ingredients">
      <li>Sugar</li>
      <li>40g</li>
    </ul>
    <ul class="nutrition-ingredients">
      <li>Vanilla sugar</li>
      <li>10g</li>
    </ul>
  </div>

  <form class="nutrition-modal__form">
    <input
      class="nutrition-modal__input"
      type="text"
      placeholder="Name"
      pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
      title="Name must be two words separated by space."
    />
    <input
      class="nutrition-modal__input"
      type="text"
      placeholder="Phone"
      pattern="^[\+]?3?[\s]?8?[\s]?\(?0\d{2}?\)?[\s]?\d{3}[\s|-]?\d{2}[\s|-]?\d{2}$"
      title="Phone cannot contain letters."
    />
    <textarea
      class="nutrition-modal__input nutrition-modal__comment"
      name="comment"
      placeholder="Comment"
      cols="30"
      rows="10"
    ></textarea>
    <button class="submit-btn button" type="submit">Submit</button>
  </form>
</div>
