<div class="modal products-modal" data-modal="1">
  <div class="products-modal__for-scroll" data-simplebar>
    <!--   Svg иконка для закрытия окна  -->
    <svg
      class="modal__cross js-modal-close"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
    >
      <path
        d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"
      />
    </svg>
    <h2 class="product-modal__title">Chololate icecream</h2>
    <div class="modal__picture">
      <img
        class="modal__img"
        srcset="
          ./images/products/ingredients-ice-cream-modal.png    132w,
          ./images/products/ingredients-ice-cream-modal-2x.png 264w
        "
        sizes="(min-width: 1200px) 132px, 100vw "
        src="./images/products/ingredients-ice-cream-modal.png"
        alt="Chololate-icecream"
        width="132"
        height="139"
      />
    </div>

    <ul class="modal__features">
      <li class="modal__list">
        <p class="modal__item">320</p>
        <p class="modal__items">kcal</p>
      </li>
      <li class="modal__list">
        <p class="modal__item">4g</p>
        <p class="modal__items">
          <span class="modal__items-span">Prote...</span>
          <span class="modal__items-span2">Protein...</span>
        </p>
      </li>
      <li class="modal__list">
        <p class="modal__item">8,2g</p>
        <p class="modal__items">Fats</p>
      </li>
      <li class="modal__list">
        <p class="modal__item">40,4g</p>
        <p class="modal__items">Carbs</p>
      </li>
    </ul>
    <h3 class="modal__ingredients-title">Ingredients</h3>
    <ul class="modal__ingregients-list">
      <li class="modal__ingredients-item">
        <p class="modal__ingredients-text">Milk</p>
        <p class="modal__ingredients-text">100ml</p>
      </li>
      <li class="modal__ingredients-item">
        <p class="modal__ingredients-text">Belgian chocolate</p>
        <p class="modal__ingredients-text">20g</p>
      </li>
      <li class="modal__ingredients-item">
        <p class="modal__ingredients-text">Cream</p>
        <p class="modal__ingredients-text">150 ml</p>
      </li>
      <li class="modal__ingredients-item">
        <p class="modal__ingredients-text">Cocoa powder</p>
        <p class="modal__ingredients-text">30g</p>
      </li>
      <li class="modal__ingredients-item">
        <p class="modal__ingredients-text">Sugar</p>
        <p class="modal__ingredients-text">40g</p>
      </li>
      <li class="modal__ingredients-item">
        <p class="modal__ingredients-text">Vanilla sugar</p>
        <p class="modal__ingredients-text">10g</p>
      </li>
    </ul>
    <form class="form">
      <div class="form-field">
        <label class="form-lable" for="name"> </label>
        <div class="form-input">
          <input
            class="form-input__name nutrition-js"
            placeholder="Name"
            name="name"
            id="names"
            pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
            title="Name must be two words separated by space."
          />
        </div>
      </div>

      <div class="form-field">
        <label class="form-lable" for="tel"></label>
        <div class="form-input">
          <input
            class="form-input__name nutrition-js"
            placeholder="+380 (__) ___-__-__"
            data-slots="_"
            title="+380 (00) 000-00-00"
            type="tel"
            name="tel"
            id="telephone"
            pattern="^[\+]?3?[\s]?8?[\s]?\(?0\d{2}?\)?[\s]?\d{3}[\s|-]?\d{2}[\s|-]?\d{2}$"
          />
        </div>
      </div>
      <div class="form-field coments-franchise">
        <label class="form-lable" for="comment"></label>
        <div class="form-textarea">
          <textarea
            name="comment"
            id="message"
            rows="4"
            placeholder="Comment"
          ></textarea>
        </div>
      </div>

      <button type="submit" class="form-button nutrition-button-js">
        Submit
      </button>
    </form>
  </div>
</div>
