<div class="modal modal-our " data-modal="4">
<button class="modal__close js-modal-close" >
  <svg
  class="modal__cross js-modal-close"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 24 24"
>
  <path
    d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"
  />
</svg>
</button>  
   

    <h1 class="modal__titlle">Our Locations</h1>
    <iframe class="modal__map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d82744.55860730304!2d34.487198339516404!3d49.602134576797894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d825e425e6ba6b%3A0xcf3e6bdfb9e4ca82!2sPoltava%2C%20Poltava%20Oblast%2C%2036000!5e0!3m2!1sen!2sua!4v1673543922434!5m2!1sen!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
   
        <a class="modal__map-btn" target="_blank" href="https://goo.gl/maps/vbgTyLNAnKZPeXJS8" >Open map</a>
                
 </div>
 <div class="overlay js-overlay-modal"></div>