<section class="products">
  <h2 class="products__title">
    <span class="products__title__sec">100% natural</span> <br />products
  </h2>
  <ul class="products__list list">
    <li class="products__item">
      <picture>
        <source
          srcset="
            ./images/products/ice-cream-desktop.png    1x,
            ./images/products/ice-cream-desktop-2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/products/ice-cream-modal.png    1x,
            ./images/products/ice-cream-modal-2x.png 2x
          "
          media="(min-width: 480px)"
        />
        <source
          srcset="
            ./images/products/ice-cream-mob.png    1x,
            ./images/products/ice-cream-mob-2x.png 2x
          "
          media="(min-width: 320px)"
        />
        <img
          class="products__picture"
          src="./images/products/ice-cream-desktop.png"
          alt="Ice cream"
          width="302"
          height="302"
        />
      </picture>
      <div class="products-menu-frst">
        <h3 class="products-menu__title">Ice cream</h3>
        <p class="products-menu__text">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <a href="" class="products-menu__link link">
          <svg class="products-menu__icon" width="40" height="40">
            <use href="./images/icons.svg/sprite.svg#icon-arrow"></use>
          </svg>
        </a>
      </div>
    </li>
    <li>
      <picture>
        <source
          srcset="
            ./images/products/ice-coffee-desktop.png    1x,
            ./images/products/ice-coffee-desktop-2x.png 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/products/ice-coffee-modal.png    1x,
            ./images/products/ice-coffee-modal-2x.png 2x
          "
          media="(min-width:480px)"
        />
        <source
          srcset="
            ./images/products/ice-coffee-mob.png    1x,
            ./images/products/ice-coffee-mob-2x.png 2x
          "
          media="(min-width: 320px)"
        />
        <img
          class="products__picture"
          src="./images/products/ice-coffee-desktop.png"
          alt="Ice coffee"
          width="302"
          height="302"
        />
      </picture>
      <div class="products-menu-scnd">
        <h3 class="products-menu__title">Ice coffee</h3>
        <p class="products-menu__text">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <a href="" class="products-menu__link link">
          <svg class="products-menu__icon" width="40" height="40">
            <use href="./images/icons.svg/sprite.svg#icon-arrow"></use>
          </svg>
        </a>
      </div>
    </li>
    <li class="products__item item">
      <picture>
        <source
          srcset="
            ./images/products/milkshekes-desktop.png    1x,
            ./images/products/milkshekes-desktop-2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/products/milkshekes-modal.png    1x,
            ./images/products/milkshekes-modal-2x.png 2x
          "
          media="(min-width: 480px)"
        />
        <source
          srcset="
            ./images/products/milkshekes-mob.png    1x,
            ./images/products/milkshekes-mob-2x.png 2x
          "
          media="(min-width: 320px)"
        />
        <img
          class="products__picture"
          src="./images/products/milkshekes-desktop.png"
          alt="Milkshake"
          width="302"
          height="302"
        />
      </picture>
      <div class="products-menu-thrd">
        <h3 class="products-menu__title">Milkshakes</h3>
        <p class="ptoducts-menu__text">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <a href="" class="products-menu__link link">
          <svg class="products-menu__icon" width="40" height="40">
            <use href="./images/icons.svg/sprite.svg#icon-arrow"></use>
          </svg>
        </a>
      </div>
    </li>
  </ul>
</section>
