<section class="products" id="products">
  <div class="container">
    <h2 class="products__title">
      <span class="products__title__sec">100% natural</span> <br />products
    </h2>
    <ul class="products__list">
      <li class="products__item products-frst">
        <div class="products-menu">
          <h3 class="products-menu__title">Ice cream</h3>
          <p class="products-menu__text">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>
        </div>
        <buttom class="products-menu__btn">
          <svg class="products-menu__icon" width="40" height="16">
            <use href="./images/icons.svg/sprite.svg#icon-arrow"></use>
          </svg>
        </buttom>
      </li>
      <li class="products__item products-scnd">
        <div class="products-menu">
          <h3 class="products-menu__title">Ice coffee</h3>
          <p class="products-menu__text">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
        </div>
        <buttom class="products-menu__btn">
          <svg class="products-menu__icon" width="40" height="16">
            <use href="./images/icons.svg/sprite.svg#icon-arrow"></use>
          </svg>
        </buttom>
      </li>
      <li class="products__item products-lst">
        <div class="products-menu">
          <h3 class="products-menu__title">Milkshakes</h3>
          <p class="products-menu__text">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>
        </div>
        <buttom class="products-menu__btn">
          <svg class="products-menu__icon" width="40" height="16">
            <use href="./images/icons.svg/sprite.svg#icon-arrow"></use>
          </svg>
        </buttom>
      </li>
    </ul>
  </div>
</section>
