<div class="modal modal-our" data-modal="3">
<button class="modal__close js-modal-close" >
  <svg
  class="modal__cross js-modal-close"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 24 24"
>
  <path
    d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"
  />
</svg>
</button>  
   

    <h2 class="modal__titlle">How it’s made?</h2>
    <iframe class="modal__video"  src="https://www.youtube.com/embed/nA3NBp7npjs" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
   
            <p class="modal__text">
                The company is working on a process called precision fermentation that uses substances like yeast and fungi to produce milk proteins in a vat. 
            </p>
            
 </div>
 <div class="overlay js-overlay-modal"></div>