 <!-- Элементы для вызова модальных окон, могут быть любые -->

<a href="#" class="js-open-modal" data-modal="3">Открыть окно 3</a>

 <div class="modal" data-modal="3">
<button class="modal__close js-modal-close" >
      <svg class="modal__icon" width="24" height="24">
        <use href="./images/icons.svg/sprite.svg#icon-close-line"></use>
      </svg>
</button>  
   

    <h1 class="modal__titlle">How it’s made?</h1>
    <iframe class="modal__video"  src="https://www.youtube.com/embed/nA3NBp7npjs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
   
            <p class="modal__text">
                The company is working on a process called precision fermentation that uses substances like yeast and fungi to produce milk proteins in a vat. 
            </p>
            
 </div>
 <div class="overlay js-overlay-modal"></div>