<section class="review">
  <div class="one-time container">
    <div>
      <!-- it's my div -->
      <!-- <img srcset="./images/myhaylo.jpg 1x, ./images/myhaylo-2x.jpg 2x" src="./images/myhaylo.jpg" alt="photo Михайло Єрмаков"> -->
      <!-- <img class="review__img" src="images/gallery/gallery-1-desktop.png" alt="photo gallery number 1" /> -->
      <img
        class="review__customer_img"
        src="images/customer-reviews/customer-foto-1.png"
        alt="photo reviewer number 1"
      />
      <h3 class="review__content">
        I love visiting your cafe. You prepare the most delicious ice cream in
        Los Angeles! In addition, you have beautiful serving, cozy atmosphere
        and polite staff.
      </h3>
      <p class="review__paragraph">Emily, Los Angeles</p>
      <!-- the end my div -->
    </div>

    <div>
      <div>
        <!-- it's my div -->
        <!-- <img srcset="./images/myhaylo.jpg 1x, ./images/myhaylo-2x.jpg 2x" src="./images/myhaylo.jpg" alt="photo Михайло Єрмаков"> -->
        <!-- <img class="review__img" src="images/gallery/gallery-2-desktop.png" alt="photo gallery number 2" /> -->
        <img
          class="review__customer_img"
          src="images/customer-reviews/customer-foto-2.png"
          alt="photo reviewer number 2"
        />
        <h3 class="review__content">
          Every day we come to you with friends after classes in college. We
          love your ice cream and casual atmosphere!
        </h3>
        <p class="review__paragraph">Bryan, New-York</p>
        <!-- the end my div -->
      </div>
    </div>
    <div>
      <!-- it's my div -->
      <!-- <img srcset="./images/myhaylo.jpg 1x, ./images/myhaylo-2x.jpg 2x" src="./images/myhaylo.jpg" alt="photo Михайло Єрмаков"> -->
      <!-- <img class="review__img" src="images/gallery/gallery-3-desktop.png" alt="photo gallery number 3" /> -->
      <img
        class="review__customer_img"
        src="images/customer-reviews/customer-foto-3.png"
        alt="photo reviewer number 3"
      />
      <h3 class="review__content">
        Ice cream is my passion! I love your chocolate hazelnut ice cream! And I
        really like the excellent service - always served politely and quickly!
      </h3>
      <p class="review__paragraph">Diana, Chicago</p>
      <!-- the end my div -->
    </div>
  </div>
</section>
