<section class="review" id="review">
  <div class="one-time container">
    <div class="hmax">
      <img
        class="review__customer_img"
        srcset="
          images/customer-reviews/customer-foto-1.png 1x,
          images/customer-reviews/customer-foto-1.png 2x
        "
        src="images/customer-reviews/customer-foto-1.png"
        alt="photo reviewer number 1"
      />
      <h3 class="review__content">
        I love visiting your cafe. You prepare the most delicious ice cream in
        Los Angeles! In addition, you have beautiful serving, cozy atmosphere
        and polite staff.
      </h3>
      <p class="review__paragraph">Emily, Los Angeles</p>
    </div>

    <div class="hmax">
      <img
        class="review__customer_img"
        srcset="
          images/customer-reviews/customer-foto-2.png 1x,
          images/customer-reviews/customer-foto-2.png 2x
        "
        src="images/customer-reviews/customer-foto-2.png"
        alt="photo reviewer number 2"
      />
      <h3 class="review__content">
        Every day we come to you with friends after classes in college. We love
        your ice cream and casual atmosphere!
      </h3>
      <p class="review__paragraph">Bryan, New-York</p>
    </div>

    <div class="hmax">
      <img
        class="review__customer_img"
        srcset="
          images/customer-reviews/customer-foto-3.png 1x,
          images/customer-reviews/customer-foto-3.png 2x
        "
        src="images/customer-reviews/customer-foto-3.png"
        alt="photo reviewer number 3"
      />
      <h3 class="review__content">
        Ice cream is my passion! I love your chocolate hazelnut ice cream! And I
        really like the excellent service - always served politely and quickly!
      </h3>
      <p class="review__paragraph">Diana, Chicago</p>
    </div>
  </div>
</section>
