// /* Стили для подложки */

.overlay {
  /* Скрываем подложку  */
  opacity: 0;
  visibility: hidden;
  overflow-y: scroll;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: 1s all;
}

/* Стили для модальных окон */

.modal {
  /* Скрываем окна  */
  opacity: 0;
  visibility: hidden;
  overflow-y: scroll;

  /*  Установаем ширину окна  */
  width: 100%;
  // max-width: 500px;

  /*  Центрируем и задаем z-index */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30; /* Должен быть выше чем у подложки*/

  /*  Побочные стили   */
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 30px;
  border-radius: 3px;
  background-color: #fff;
  transition: 1s all;
}

/* Стили для активных классов подложки и окна */

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

/* Стили для кнопки закрытия */

.modal__cross {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 20px;
  right: 20px;
  fill: #444;
  cursor: pointer;
}

// /* Стили для кнопок. Мы ведь порядочные разработчики, негоже простые ссылки оставлять */

// a {
//   padding: 20px;
//   display: inline-block;
//   text-decoration: none;
//   margin: 10px;
//   color: #fff;
//   border-radius: 3px;
// }

// ____________ HTML___________________

//  1. <!-- Элементы для вызова модальных окон, могут быть любые -->

// <a href="#" class="js-open-modal" data-modal="1">Открыть окно 1</a>
// <a href="#" class="js-open-modal" data-modal="2">Открыть окно 2</a>

//  2. <!-- Несколько модальных окон -->

// <div class="modal" data-modal="1">
//    <!--   Svg иконка для закрытия окна  -->
//    <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg"               viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
//    <p class="modal__title">Заголовок окна 1</p>
// </div>

// <div class="modal" data-modal="2">
//    <!--   Svg иконка для закрытия окна  -->
//    <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg"               viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
//    <p class="modal__title">Заголовок окна 2</p>
// </div>

// 3. <!-- Подложка под модальным окном -->

// <div class="overlay js-overlay-modal"></div>
