// /* Стили для подложки */

.overlay {
  /* Скрываем подложку  */
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: 0.3s all;
}

/* Стили для модальных окон */

.modal {
  /* Скрываем окна  */
  opacity: 0;
  visibility: hidden;

  /*  Установаем ширину окна  */
  width: 100%;
  max-width: 500px;

  /*  Центрируем и задаем z-index */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30; /* Должен быть выше чем у подложки*/

  /*  Побочные стили   */
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 30px;
  border-radius: 3px;
  background-color: #fff;
  transition: 0.3s all;
}

/* Стили для активных классов подложки и окна */

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

/* Стили для кнопки закрытия */

.modal__cross {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 20px;
  right: 20px;
  fill: #444;
  cursor: pointer;
}

// /* Стили для кнопок. Мы ведь порядочные разработчики, негоже простые ссылки оставлять */

// a {
//   padding: 20px;
//   display: inline-block;
//   text-decoration: none;
//   margin: 10px;
//   color: #fff;
//   border-radius: 3px;
// }

// ____________ HTML___________________

//  1. <!-- Элементы для вызова модальных окон, могут быть любые -->

// <a href="#" class="js-open-modal" data-modal="1">Открыть окно 1</a>
// <a href="#" class="js-open-modal" data-modal="2">Открыть окно 2</a>

//  2. <!-- Несколько модальных окон -->

// <div class="modal" data-modal="1">
//    <!--   Svg иконка для закрытия окна  -->
//    <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg"               viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
//    <p class="modal__title">Заголовок окна 1</p>
// </div>

// <div class="modal" data-modal="2">
//    <!--   Svg иконка для закрытия окна  -->
//    <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg"               viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
//    <p class="modal__title">Заголовок окна 2</p>
// </div>

// 3. <!-- Подложка под модальным окном -->

// <div class="overlay js-overlay-modal"></div>

.modal.modal-buy {
  @media screen and (min-width: 480px) {
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    width: 568px;
  }
}

.modal.modal-nytrition {
  @media screen and (min-width: 480px) {
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    width: 568px;
  }
}

.modal-buy {
  max-width: 568px;
  padding: 32px 54px;
  border-radius: 10px;
}

.modal-nutrition {
  max-width: 568px;
  padding: 32px 40px;
  border-radius: 10px;
}

.modal__title {
  margin-bottom: 40px;

  font-family: 'Seymour One';
  font-size: 20px;
  line-height: 1.4;

  text-align: center;

  color: #131313;
}

.modal__icon {
  fill: #131313;
  width: 15px;
  height: 15px;
}

.ice-menu {
  margin-bottom: 40px;

  display: flex;
  gap: 32px;
  justify-content: center;
}

.ice-menu__container {
  position: relative;
  width: 132px;
  height: 198px;
}

.ice-menu__picture {
  top: 7px;
  position: absolute;
  width: 132px;
  height: 132px;
  border-radius: 50%;
  z-index: 30;
}

.ice-menu__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 132px;
  height: 132px;
  z-index: 40;
}

.ice-menu__wrap {
  position: absolute;
  top: 56px;
  width: 132px;
  height: 135px;
  font-size: 16px;
  line-height: 1.25;

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  z-index: 20;
}

.ice-menu__cream-picture {
  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}

.ice-menu__cream-wrap {
  border: 2px solid #96af8c;
  filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
  border-radius: 15px;
}

.ice-menu__coffee-picture {
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
}

.ice-menu__coffee-wrap {
  background: #efd478;
  border: 2px solid #efd478;
  box-shadow: 0px 5.26027px 19.726px rgba(212, 20, 67, 0.1);
  border-radius: 15px;
}

.ice-menu__shake-picture {
  background: linear-gradient(
      0deg,
      rgba(213, 117, 63, 0.7),
      rgba(213, 117, 63, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
}

.ice-menu__shake-wrap {
  border: 2px solid #d6936d;
  filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
  border-radius: 15px;
}

.ice-menu__title {
  padding-top: 95px;
}

.field-group__input {
  margin-bottom: 16px;
  width: 100%;
  min-height: 42px;

  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
}

.field-group__input::placeholder {
  font-size: 14px;
  padding-left: 16px;
  color: #131313;
}

.field-group__textarea::placeholder {
  font-size: 14px;
  padding-left: 16px;
  color: #131313;
}

.field-group__textarea {
  margin-bottom: 32px;
  display: block;
  width: 100%;
  height: 84px;

  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
}

.field-group__send-button {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 121px;
  height: 42px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  background-color: #f8d24e;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.form-modal-2 {
  width: 368px;
  margin-left: auto;
  margin-right: auto;
}

.modal-picture__wrap {
  position: relative;
  width: 132px;
  height: 139px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
}

.back-shadow {
  position: absolute;
  top: 7px;
  width: 132px;
  height: 132px;
  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
  border-radius: 50%;
}

.ingredient-title {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  color: #131313;
}

.modal-picture {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}

.nutrition {
  margin-bottom: 48px;
}

.nutrition-ingredients {
  margin-bottom: 11px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  letter-spacing: 0.04em;
  color: #131313;
}

.nutrition-facts {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 48px;
}

.nutrition-facts__list {
  width: 65px;
  height: 90px;
  border: 2px solid #9cbe8f;
  border-radius: 40px;
}

.nutrition-facts__list-weight {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.33;
  width: 53px;
  height: 53px;
  border-radius: 50px;
  background: #9cbe8f;
  border: 2px solid #9cbe8f;
  box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
}

.nutrition-facts__list-measure {
  font-size: 12px;
  line-height: 1.25;
  color: #131313;
}
