.modal-our  {
  
  @include mobile {
    width: 100%;
  }

  @include tablet {
    width: 568px;
    padding: 32px 60px;
  }
}



.modal__map-btn {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;

  cursor: pointer;
  min-width: 145px;
  display: inline-block;
  padding: 12px 24px;
  margin-top: 32px;
  background: $bg-color-button;
  border-radius: 10px;
  border: none;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: $primary-text-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: color;
  transition: width 2s, height 2s, transform 2s;
  
  &:hover {
    background: $bg-green-button;
    color: $primary-text-color;
    transition-property:  color;
    transition: width 2s, height 2s, transform 2s;
    transform: rotate(360deg);
    
  }

  &:focus {
    background: $bg-green-button;
    color: $primary-white-color;
    transition-property: primary-text-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
  }

    @media screen and (max-width: 480px) {
      margin-top: 24px;
    }

    @include mobile {
      margin-top: 0;
    }   
  }


.modal__map {
  width: 100%;
  height: 260px;
  margin-bottom: 32px;
  border-radius: 10px;

  @media screen and (max-width: 480px) {
    height: 199px;
    margin-bottom: 0;
 }
}



  