.modal{
    border: 2px solid #F8D24E;
    border-radius: 10px;
    padding: 32px 60px;
    
}

.modal__close{
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin: 12px;
    background:transparent;
    border: none;
}

.modal__icon{
    fill: #131313;
}

.modal__titlle{
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    color: #131313;
   
    margin-bottom: 32px;
    align-items: center;
    text-align: center;
    
}

.modal__video{
    width: 100%;
    height: 205px;
    margin-bottom: 32px;
    border-radius: 10px;
}

.modal__text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.22; 
    color: #131313;
    
    align-items:center;
    text-align: start;
    
}