/* Стили для подложки */

.overlay {
  /* Скрываем подложку  */
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: 0.3s all;
}

/* Стили для модальных окон */

.modal.modal-franchise {
  opacity: 0;
  visibility: hidden;
}

/* Стили для активных классов подложки и окна */

.overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal.modal-franchise.active {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%);
  position: fixed;
  width: 100%;
  top: 50%;
  left: 50%;
  z-index: 30;
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: center;

  background: $fill-icon;
  border: 2px solid $bg-color-button;
  border-radius: 10px;
  transition: 0.3s all;
  padding: 31px;

  @include mobile {
    width: 100%;
    height: 660px;
  }

  @include tablet {
    width: 568px;
    height: 668px;
  }

  @include desktop {
    width: 568px;
    height: 668px;
  }
}

/* Стили для кнопки закрытия */

.modal__cross {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 20px;
  right: 20px;
  fill: $primary-text-color;
  cursor: pointer;
}

// /* Стили для кнопок. Мы ведь порядочные разработчики, негоже простые ссылки оставлять */

// // a {
// //   padding: 20px;
// //   display: inline-block;
// //   text-decoration: none;
// //   margin: 10px;
// //   color: $primary-white-color;
// //   border-radius: 3px;
// // }

/* -------------- madal form -------------- */

.form-franchise__title {
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  width: 221px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  color: $primary-text-color;

  @include mobile {
    margin-bottom: 25px;

    font-size: 20px;
    line-height: 1.4;
    width: 322px;
    height: 84px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  @include tablet {
    margin-bottom: 25px;

    font-size: 20px;
    line-height: 1.4;
    width: 322px;
    height: 84px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  @include desktop {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    width: 322px;
    height: 84px;
    display: flex;
    align-items: center;
    text-align: center;
  }
}

.form-paragraf {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  text-align: left;
  margin-bottom: 24px;
  color: $primary-text-color;

  @include mobile {
    margin-bottom: 24px;
  }

  @include tablet {
    margin-bottom: 32px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    padding: 0 20;
  }

  @include desktop {
    margin-bottom: 32px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    padding: 0 20;
  }
}

.form-field {
  width: 100%;

  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: $primary-text-color;
}

.form-input {
  position: relative;
  display: inline;
  margin-bottom: 12px;

  @include mobile {
    margin-bottom: 20px;
  }

  @include tablet {
    margin-bottom: 16px;
  }

  @include desktop {
    margin-bottom: 16px;
  }
}

.form-input__name::placeholder {
  color: $primary-text-color;
}

.form-input__name {
  width: 100%;
  height: 32px;
  color: $primary-text-color;
  padding-left: 12px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid $bg-color-body;
  border-radius: 10px;
  transition-property: $bg-color-body;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;

  @include tablet {
    width: 368px;
    height: 42px;
  }

  @include desktop {
    width: 368px;
    height: 42px;
  }
}

.form-input__name:focus {
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid $focus-color-text;
  border-radius: 10px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input__name:focus ~ .form-name__icon {
  fill: $primary-text-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

textarea {
  resize: none;
  width: 100%;
  height: 64px;
  padding: 8px;

  outline: none;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid $bg-color-body;
  border-radius: 10px;
  transition-property: $inverse-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @include mobile {
    max-width: 100%;
  }

  @include tablet {
    width: 368px;
    height: 84px;
  }

  @include desktop {
    width: 368px;
    height: 84px;
  }
}

textarea::placeholder {
  color: $primary-text-color;
}

textarea:focus {
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid $focus-color-text;
  border-radius: 10px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.label-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 24px;

  @media screen and(max-width:479px) {
    line-height: 12px;
  }
}

.coments-franchise {
  margin-bottom: 20px;

  @include mobile {
    margin-bottom: 24px;
  }

  @include tablet {
    margin-bottom: 32px;
  }

  @include desktop {
    margin-bottom: 32px;
  }
}

// -----------------Form Button--------------------

.form-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 114px;
  height: 42px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  color: $primary-text-color;
  background: $bg-color-button;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  border: hidden;
  cursor: pointer;
  text-align: center;
  transition-property: backround, color;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background: $bg-green-button;
    color: $primary-text-color;
    transition-property: background, color;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:focus {
    background: $bg-green-button;
    color: $primary-white-color;
    transition-property: primary-text-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:disabled {
    background-color: $color-button-disable;
  }
}
