.about {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (max-width: 767px) {
    display: flex;
  }
  @include tablet{
    padding-bottom: 85px;
  }
  @include desktop {
    padding-bottom: 100px;
  }
}

.about-wrap__title {
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 12px;

  @media screen and (max-width: 767px) {
    margin-bottom: 32px;
    flex-direction: column-reverse;
  }

  @include tablet {
    margin-bottom: 72px;
    flex-direction: column;
  }

  @include desktop {
    margin-bottom: 82px;
  }
}

.about__subtitle {
  @include font(700, 18, 1.22, null);
  text-transform: uppercase;
  color: $primary-white-color;
  justify-content: center;
  align-items: center;
  text-align: center;
  @include tablet {
    @include font(700, 22, 1.23, null)
  }
  @include desktop {
    @include font(700, 30, 1.23, 0.06);
    margin: 0 auto;
  }
}

.about__title {
  @include font(null, 30, 1.27, null);
  font-family: 'Seymour One';
  text-align: center;
  text-transform: uppercase;
  color: $primary-white-color;
  max-width: 200px;
  margin: 0 auto;
  @include tablet {
    @include font(null, 34, 1.26, 0.06);
    margin: 0;
    max-width: 100%;
  }

  @include desktop {
    @include font(null, 36, 1.25, 0.06);
  }
}

.about__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media screen and (max-width: 767px) {
    text-align: center;
    gap: 60px;
  }
  @include tablet {
    flex-direction: row;
    justify-content: space-between;
  }
}

.about__picture-wrap {
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
  border-radius: 140px;
  @include tablet {
    border-radius: 165px;
  }
  @include desktop {
    border-radius: 250px;
  }
}
.about__picture {
  display: block;
  transform: translateY(22px);

  @include transition(animation);

  @include tablet {
    transform: translateY(26px);
  }
  @include desktop {
    transform: translateY(39px);
  }

  &:hover {
    animation: wobble 5s ease infinite;
  }
}

@keyframes wobble {
  0% {
    transform: translateX(0%);
  }
  15% {
    transform: translateX(-5%) rotate(-5deg);
  }
  30% {
    transform: translateX(5%) rotate(3deg);
  }
  45% {
    transform: translateX(-5%) rotate(-3deg);
  }
  60% {
    transform: translateX(5%) rotate(2deg);
  }
  75% {
    transform: translateX(-5%) rotate(-1deg);
  }
  100% {
    transform: translateX(0%);
  }
}

.about__wrap-text {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  @include tablet {
    align-items: flex-start;
    gap: 8px;
  }
  @include desktop {
    padding-right: 121px
  }
}
.about__text {
  @include font(null, 12, 1.62, null);
  color: $primary-white-color;
  width: 220px;
  @include tablet {
    width: 336px;
  }
  @include desktop {
    width: 463px;
    @include font(null, 14, 1.76, null);
  }
}
.about__text:not(:nth-child(1)) {
  margin-bottom: 10px;
  line-height: 1.76;
  @include mobile{
    margin-bottom: 24px;
  }
  @include tablet {
    margin-bottom: 0;
  }
}
.about__text-mob {
  display: none;
  @include tablet {
    display: inline;
  }
}

.about__text.about__text-mob {
     @include tablet {
       display: inline;
       margin-bottom: 24px
     }
     @include desktop {
      margin-bottom: 44px
     }
    }
.about__button {
  @include font(600, 14, 1.3, null);
  display: inline-flex;
  align-items: center;
  width: 164px;
  color: $primary-text-color;
  gap: 4px;
  padding: 12px 30px 12px 34px;
  border: transparent;
  border-radius: 10px;
  background-color: $bg-color-button;
  border-color: $bg-color-button;

}
.about__button {
  &:hover {
    color: $primary-text-color;
    background-color: $bg-green-button;
    border-color: $bg-green-button;
  }
}
.about__button,
.icon-arrow__about {
  &:focus {
    fill: $fill-icon;
    color: $fill-icon;
    background: $bg-green-button;
    border-color: $bg-green-button;
  }
}
