.about {
  padding-top: 60px;
  @media screen and (max-width: 767px) {
    display: flex;
  }
}
.about_h {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $primary-white-color;

  margin-left: auto;
  margin-right: auto;
  @include tablet {
    font-size: 22px;
  }
  @include desktop {
    font-size: 30px;
  }
  @media screen and (min-width: 480px) and (max-width: 768px) {
    display: none;
  }
}

.about_strong {
  display: block;
  font-family: 'Seymour One';
  font-weight: 400;
  font-size: 30px;
  line-height: 1.26;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $primary-white-color;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 200;
  @include tablet {
    font-size: 34px;
    width: 454px;
    letter-spacing: 0.06;
  }
  @include desktop {
    font-size: 36px;
    letter-spacing: 0.06;
    width: 481px;
  }

  @media screen and (min-width: 480px) and (max-width: 768px) {
    display: none;
  }
}
.about_strong_two {
  display: block;
  font-family: 'Seymour One';
  font-weight: 400;
  font-size: 30px;
  line-height: 1.26;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $primary-white-color;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 200;
  @media screen and (min-width: 769px) {
    display: none;
  }
  @media screen and (max-width: 479px) {
    display: none;
  }
}
.about_h_two {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $primary-white-color;

  margin-left: auto;
  margin-right: auto;
  @include tablet {
    display: none;
  }
  @media screen and (max-width: 479px) {
    display: none;
  }
}
.about_div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media screen and (max-width: 767px) {
    text-align: center;
  }
  @include tablet {
    flex-direction: row;
    justify-content: space-between;
  }
}
.about_picture_div {
  margin-top: 54px;

  @include tablet {
    margin-top: 98px;
    margin-bottom: 60px;
  }
  @include desktop {
    margin-top: 121px;
    margin-bottom: 60px;
  }
}
.about_picture {
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
  border-radius: 250px;
}

.about_text {
  margin-top: 40px;

  margin-bottom: 50px;
  @include mobile {
    margin-bottom: 60px;
  }
  @include tablet {
    margin-bottom: 80px;
    margin-top: 80px;
  }
  @include desktop {
    margin-bottom: 146px;
    margin-top: 172px;
    margin-right: 121px;
  }
}
.about_p {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.75;

  letter-spacing: 0.04em;

  color: $primary-white-color;

  width: 220px;
  @include tablet {
    width: 336px;
  }
  @include desktop {
    width: 463px;
    font-size: 14px;
  }
}
.about_p:not(:last-child) {
  margin-bottom: 4px;
}
.mob {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.about_button {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  color: #000000;
  gap: 4px;
  padding: 12px 35px 12px 34px;
  border: 2px solid #0000;
  border-radius: 10px;
  background-color: $bg-color-button;
  border-color: $bg-color-button;

  margin-top: 10px;

  @include mobile {
    margin-top: 24px;
  }
  @include tablet {
    margin-top: 32px;
  }
  @include desktop {
    margin-top: 54px;
  }
}
.about_button {
  &:hover {
    color: #000000;
    background-color: $bg-green-button;
    border-color: $bg-green-button;
  }
}
.about_button,
.icon-arrow__about {
  &:focus {
    fill: $fill-icon;
    color: $fill-icon;
    background: $bg-green-button;
    border-color: $bg-green-button;
  }
}

