.advantages__section {
  padding-bottom: 32px;

  @include tablet {
    padding-bottom: 41px;
  }

  @include desktop {
    padding-bottom: 80px;
  }
}

.advantages__list {
  @include tablet {
    display: flex;
    gap: 80px;
  }

  @include desktop {
    gap: 32px;
  }
}

.advantages__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  @media screen and (max-width: 480px) {


    &:not(:last-child) {
      margin-bottom: 28px;
    }
  }

  @include mobile {


    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  @include tablet {
    gap: 0px;

    &:not(:last-child) {
      margin-bottom: 0px;
    }

  }
}

.advantages__item::before {
  content: '';
  display: inline-block;
  width: 50px;
  height: 50px;

  fill: black;
  border-radius: 25px;
  background-repeat: no-repeat;

  background-size: 36px 36px;
  background-position: center;
  background-color: $bg-color-button;
  
  animation-name: stretch;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;

  @include tablet {
    margin-bottom: 32px;
  }

  @include desktop {
    margin-bottom: 40px;
  }

  @keyframes stretch {
    0% {
      transform: scale(1);
      background-color: $bg-green-button;
      border-radius: 100%;
    }

    50% {
      transform: scale(1);
      background-color: $focus-color-text;
      border-radius: 100%;
    }

    // 60% {
    //   background-color: rgba(85, 101, 245, 0.692);
    // }

    100% {
      transform: scale(1.5);
      background-color: $bg-color-button;
    }
  }
}

.advantages__item-cow::before {
  background-image: url(../images/advantages/cow-icon.png);

  @include retina {
    background-image: url(../images/advantages/cow-icon-2x.png);
  }
}

.advantages__item-kg::before {
  background-image: url(../images/advantages/weight-icon.png);

  @include retina {
    background-image: url(../images/advantages/weight-icon-2x.png);
  }
}

.advantages__ice-cream::before {
  background-image: url(../images/advantages/ice-cream-icon.png);

  @include retina {
    background-image: url(../images/advantages/ice-cream-icon-2x.png);
  }
}

.advantages__numbers {

  font-weight: 700;
  font-size: 36px;
  line-height: 1.22;

  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: $primary-white-color;

  @include tablet {

    font-size: 48px;
    line-height: 1.23;
    margin-bottom: 12px;
  }

  @include desktop {
    font-size: 58px;
    line-height: 1.22;
  }
}

.advantages__text {
  width: 230px;


  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;

  text-align: center;

  color: $primary-white-color;

  @include tablet {
    width: 152px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.74;
  }

  @include desktop {
    width: 368px;
    font-size: 16px;
    line-height: 1.76;

    letter-spacing: 0.02em;
  }
}