.advantages__item{
    width: 100%;
}

.advantages__item::before{
content: '';
    display: inline-block;
    width: 50px;
    height: 50px;
    
    fill: black;
    border-radius: 25px;
    background-repeat: no-repeat;
    
    background-position: center;
    background-color: #F8D24E;
}
.advantages__item-cow::before{
background-image: url(../images/advantages/cow-icon.png);
}

.advantages__item-kg::before {
    background-image: url(../images/advantages/weight-icon.png);
}
.advantages__ice-cream::before {
    background-image: url(../images/advantages/ice-cream-icon.png);
}


.advantages__numbers {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.22;

    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FCFCFC;


}

.advantages__text{
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 1.7;
        
    
        text-align: center;
    
       color:  #FCFCFC;
}


