.contacts {
  padding-bottom: 60px;
  @include tablet {
    padding-bottom: 40px;
  }
  @include desktop {
    padding-bottom: 120px;
  }
}

.contacts__container {
  position: relative;
  max-height: 1081px;
  transform: translateY(-349px);
  z-index: 1;
  @include tablet {
    max-height: 333px;
    transform: translateY(-299px);
  }

  @include desktop {
    max-height: 530px;
    transform: translateY(-128px);
  }
}

.contacts__card {
  max-width: 280px;
  padding: 40px 32px 24px;
  border-radius: 24px;
  background-color: $inverse-color;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  @include tablet {
    max-width: 224px;
    padding: 40px 24px;
  }

  @include desktop {
    max-width: 368px;
    padding: 40px;
  }
}

.contacts__list-card {
  @include centerFlex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
  @include tablet {
    flex-direction: row;
    margin-bottom: 40px;
  }

  @include desktop {
    gap: 32px;
    margin-bottom: 60px;
  }
}

.contacts__list-card:hover .contacts__item-card {
  // opacity: .9;
  transform: scale(1);
}

.contacts__list-card:hover .contacts__item-card:hover {
  transform: scale(1.07);
  // opacity: 1;
  @include tablet {
    transform: scale(1.1);
  }
}

.contacts__item-card {
  @include transition(transform);
}

.contacts__name {
  width: fit-content;
  margin-bottom: 20px;
  padding: 4px 22px;
  border-radius: 4px;
  @include font(500, 12, 120%, 0.04);
  text-align: center;
  color: $primary-text-color;
  background-color: $bg-color-button;

  @include tablet {
    margin-bottom: 32px;
    padding: 4px 14px;
    border-radius: 6px;
    line-height: 1.4;
  }
}

.address,
.contacts__list-week {
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 24px;

  @include tablet {
    margin-bottom: 32px;
  }
}

.address__town {
  margin-bottom: 8px;
  @include tablet {
    margin-bottom: 12px;
  }
  @include desktop {
    margin-bottom: 8px;
  }
}

.address__town,
.contacts__days-week {
  font-style: normal;
  @include font(500, 12, 186%, 0.04);
  color: $primary-text-color;

  @include tablet {
    font-size: 14px;
  }
  @include desktop {
  }
}

.address__link {
  display: block;
  margin-bottom: 24px;
  font-style: normal;
  @include font(500, 12, 183%, 0.04);
  color: $focus-color-text;

  @include tablet {
    margin-bottom: 32px;
    font-size: 14px;
  }
  @include desktop {
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.contacts__days-week {
  margin-bottom: 8px;
  @include desktop {
    margin-bottom: 12px;
  }
}

.contacts__time-week {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.7;
  color: $color-button-disable;

  @include tablet {
    font-size: 14px;
  }
  @include desktop {
  }
}

.contacts__item-weekend {
  margin-bottom: 24px;
  @include tablet {
    margin-bottom: 32px;
  }
}

.contacts__item-join:not(:last-child) {
  margin-bottom: 6px;
  @include tablet {
    margin-bottom: 4px;
  }
}

.contacts__link-join {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  color: $primary-text-color;

  @include tablet {
    font-size: 14px;
    line-height: 1.5;
  }
}

// КНОПКИ

.contacts__buttons {
  @include centerFlex;
  flex-direction: column;
  gap: 16px 0;

  @include tablet {
    flex-direction: row;
    gap: 0 16px;
  }
}

.contacts__btn {
  @include centerFlex;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3;

  color: $primary-text-color;
}

.btn-locations {
  padding: 12px 40px;
  border: 2px solid transparent;
  background-color: $bg-color-button;

  border-radius: 10px;
  @include transitionX3(background-color, color, fill);

  &:hover {
    background-color: #0a8817;
  }
  &:focus {
    background-color: #0a8817;
    color: $inverse-color;
    fill: $inverse-color;
  }
  &:disabled {
    background-color: $color-button-disable;
  }
}

.btn-franchise {
  border-radius: 10px;
  padding: 12px 55px;
  border: 2px solid $bg-color-button;

  background-color: transparent;
  @include transitionX3(border, color, fill);

  &:hover {
    border: 2px solid #0a8817;
  }
  &:focus {
    border: 2px solid #0a8817;
    color: $inverse-color;
    fill: $inverse-color;
  }
  &:disabled {
    border: 2px solid $color-button-disable;
  }
}

.icon-arrow-right-bold {
  margin-left: 4px;
}
