.header {
  margin: 0 auto;
  margin-top: 14px;
  max-width: 480px;
  @include tablet {
    margin-top: 20px;
    max-width: 768px;
  }
  @include desktop {
    margin-top: 8px;
    max-width: 1200px;
  }
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  @include tablet {
    justify-content: normal;
  }
  @include desktop {
    justify-content: space-between;
  }
}

.header__list {
  display: flex;
  gap: 28px;
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.header__logo {
  width: 48px;
  height: 44px;
  animation: pulse 1s infinite ease-in-out alternate;
  @include tablet {
    margin-right: auto;
  }
  @include desktop {
    width: 60px;
    height: 65px;
    margin-right: 0;
  }
}

.header__nav-link {
  @include font(700, null, 1.3, null);
  display: block;
  padding: 32px 0 13px;
  color: $primary-white-color;
  @include transition(color);
  &:hover,
  &:focus {
    transition: color 0.75s, transform 0.75s;
    transform: scale(1.1);
    color: $bg-color-button;
  }
}

.header__nav-link:hover::after,
.header__nav-link:focus::after {
  content: '';
  width: 100%;
  height: 6px;
  background-color: #f8d24e;
  border-radius: 10px;
  display: block;
  position: absolute;
  bottom: -1px;
}

.header-btn {
  @include centerAlingn;
  padding: 12px 36px;
  height: 42px;
  min-width: 152px;
  text-align: center;
  @include font(600, 14, 1.2, 0.04);
  color: $primary-text-color;
  fill: $primary-text-color;
  background-color: $bg-color-button;
  border: none;
  border-radius: 10px;
  @include transitionX3(color, background-color, animation);

  &:hover {
    background-color: $bg-green-button;
    box-shadow: -5px -5px 5px $bg-color-button;
  }
  &:focus {
    background-color: $bg-green-button;
    box-shadow: -5px -5px 5px $bg-color-button;
    color: $inverse-color;
    fill: $inverse-color;
  }
  &:disabled {
    background-color: $color-button-disable;
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
}
// Menu open
.menu-open {
  display: block;
  border: none;
  background-color: transparent;
  @include tablet {
    margin-right: 32px;
  }
  @include desktop {
    display: none;
    margin-right: 0;
  }
}

.menu-open-icon {
  fill: $inverse-color;
  &:hover,
  &:focus {
    fill: $primary-text-color;
  }
}

.btn-arrow {
  margin-left: 4px;
}
// MOBILE MENU

.mob-menu {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 12px 20px 64px 32px;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background: $bg-color-body;
  overflow: auto;
  overflow-y: scroll;
  @include transitionX2(transform, visibility);
  transform: translateX(0);

  @include mobile {
    margin-bottom: 40px;
    padding: 20px 20px 80px 20px;
  }
  @include tablet {
    margin-bottom: 76px;
    padding: 20px 32px;
  }
  @include desktop {
    display: none;
  }
}

.is-hidden {
  transform: translateX(100vw);
  visibility: hidden;
  pointer-events: none;
}

.menu-header {
  @include centerAlingn;
  justify-content: space-between;
  margin-bottom: 51px;

  @include mobile {
    margin-bottom: 40px;
  }
  @include tablet {
    margin-bottom: 76px;
  }
}

.menu-close {
  display: block;
  border: none;
  background-color: transparent;
}

.menu__container {
  display: flex;
  flex-direction: column;
}

.menu-item:not(:last-child) {
  margin-bottom: 32px;

  @include tablet {
    margin-bottom: 40px;
  }
}

.menu__navigation {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.menu-open-close {
  fill: $inverse-color;

  &:hover {
    fill: $primary-text-color;
  }
}

.menu-list {
  margin-bottom: 110px;
  @include mobile {
    margin-bottom: 114px;
  }
}

.menu-link {
  @include font(700, 32, 1.2, 0.04);
  text-decoration: none;
  color: $primary-white-color;
  @include transition(color);

  &:hover,
  &:focus {
    color: $primary-text-color;
  }

  @include tablet {
    @include font(700, 48, 1.2, 0.04);
  }
}

.menu-btn {
  @include tablet {
    display: none;
  }
  @include centerAlingn;
  padding: 12px 36px;
  min-width: 152px;
  height: 42px;
  gap: 4px;
  border: none;
  color: $primary-text-color;
  fill: $primary-text-color;
  background: $bg-color-button;
  border-radius: 10px;

  @include font(600, 14, 1.2, 0.04);
  text-align: center;
  margin: auto;
  @include transitionX3(color, background-color, fill);

  &:hover {
    background-color: $bg-green-button;
  }

  &:focus {
    background-color: $bg-green-button;
    color: $inverse-color;
    fill: $inverse-color;
  }

  &:disabled {
    background-color: $color-button-disable;
  }
}
