.section {
  padding-top: 50px;
  margin: 0 auto;
  max-width: 480px;
  @include mobile {
      padding-top: 40px;
      max-width: 768px;
    }
  @include tablet {
    padding-top: 14px;
    max-width: 768px;
  }
  @include desktop {
    padding-top: 45px;
    max-width: 1200px;
  }
}
.hero {
  position: relative;
  display: flex;
}
.hero__content {
  margin-bottom: 250px;
  @include mobile {
    margin-bottom: 150px;
  }
  @include tablet {
    margin-bottom: 12px;
  }
  @include desktop {
    margin-bottom: 65px;
  }
}
.hero__wrapper {
  display: flex;
  align-items: center;
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.hero__tittle {
  max-width: 247px;
  font-family: 'Seymour One';
  font-weight: 400;
  font-size: 26px;
  line-height: 1.3;
  text-transform: uppercase;
  color: $primary-white-color;
  margin-bottom: 32px;
  @include tablet {
    margin-bottom: 24px;
  }
  @include desktop {
    font-size: 38px;
    line-height: 1.3;
    max-width: 367px;
    margin-bottom: 28px;
  }
}
.hero__tittle-passion {
  @media screen and (max-width: 1199px) {
    font-size: 34px;
    line-height: 96.5%;
  }
}
.hero__btn-list {
  display: inline-flex;
  align-items: center;
  @include tablet {
    margin-bottom: 18px;
  }
  @include desktop {
    margin-bottom: 45px;
  }
}
.hero__btn-product {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  border-radius: 10px;
  padding: 11px 26px;
  background: none;
  color: #000000;
  border: 2px solid $bg-color-button;
  @include transitionX2(border, color);
  @include tablet {
    margin-right: 12px;
  }
  @include desktop {
  font-size: 14px;
  line-height: 1.3;
  padding: 12px 34px;
  margin-right: 34px;
  }
  &:hover {
    border-color: #0a8817;
  }

  &:focus {
    border-color: #0a8817;
    color: #fcfcfc;
  }
}
.hero__btn-link {
  text-decoration-line: underline;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  background: none;
  border: none;
  color: $bg-color-button;
  @include transition(color);
  @include desktop {
    font-size: 14px;
    line-height: 1.3;
  }
  &:focus {
    color: #fcfcfc;
  }
  &:hover {
    color: #0a8817;
  }
}
.hero__list {
  margin-top: 28px;
  margin-left: auto;
  text-align: right;
  @include desktop {
    margin-top: 53px;
  }
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.hero__block:not(:last-child) {
  margin-bottom: 16px;
}
.hero__num {
  font-weight: 900;
  font-size: 46px;
  text-align: right;
  text-transform: uppercase;
  color: $primary-text-color;
  @include tablet {
    font-size: 28px;}
  @include desktop {
    font-size: 46px;}
}
.hero__text {
  font-size: 14px;
  line-height: 1.3;
  color: $fill-icon;
}

.hero__wrapper-info {
  @include tablet {
    width: 139px;
    margin-left: 32px;
    margin-top: 12px;
  }

  @include desktop {
    margin-left: 20px;
    margin-top: 27px;
    width: 200px;
  }
}

.hero__info {
  line-height: 1.4;
  color: $primary-white-color;

  @include tablet {
    font-size: 12px;
    margin-bottom: 30px;
    min-width: 180px;
    transform: translateY(32px);
  }
  @include desktop {
    font-size: 14px;
    margin-bottom: 0;
    margin-left: 5px;
    min-width: 220px;
    transform: translateY(35px);
  }
}

.hero__link-menu {
  display: inline-block;
  margin-left: 30px;
  @include desktop {
    margin-left: 40px;
  }
}

.hero_ice-cream {
  position: absolute;
  bottom: 0;
  right: 20px;
  transition: width 0.5s, height 0.5s, transform 0.5s;
  @include tablet {
    right: 92px;
  }
  @include desktop {
    left: 652px;
    bottom: 0;
  }

  &:hover {
    transform: rotate(3deg);
  }
}
.hero__dots {
  position: absolute;
  bottom: 0;
  z-index: -1;
  right: 0;
  @media screen and (max-width: 479px) {
  }
  @media screen and (min-width: 480px) and (max-width: 767px) {
    right: 0;
  }
  @include tablet {
    width: 100%;
    left: 0;
  }
}

.plate-hero {
  transition: width 1s, height 1s, transform 1s;
  &:hover {
    transform: rotate(360deg);
  }
}

.hero__link-arrow{
  transform: rotate(-90deg);
  cursor: pointer;
}

.arrow {
  display: block;
  transform: rotate(45deg);
  margin-top: 10px;
  animation: animate 2s infinite;
 

  @include tablet {
    width: 15px;
    height: 15px;
    border-bottom: 4px solid #fcfcfc;
    border-right: 4px solid #fcfcfc;
  }
  @include desktop {
    width: 25px;
    height: 25px;
    border-bottom: 5px solid #fcfcfc;
    border-right: 5px solid #fcfcfc;
  }
}

.arrow:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
