.products {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $inverse-color;
  margin-right: auto;
  background-repeat: repeat;
  background-size: cover;
  background-position: -450px -100px;
  background-image: url(../images/bg-ice/bg_mob.png);
  @include retina {
    background-image: url(../images/bg-ice/bg_mob-2x.png);
  }

  @include tablet {
    background-position: -20px -97px;
    background-image: url(../images/bg-ice/bg_tablet.png);

    @include retina {
      background-image: url(../images/bg-ice/bg_tablet-2x.png);
    }
  }
  @include desktop {
    background-image: url(../images/bg-ice/bg_desktop.png);
    background-position: -46px -227px;

    @include retina {
      background-image: url(../images/bg-ice/bg_desktop-2x.png);
    }
  }
}

.products__title {
  font-family: 'Seymour One';
  text-align: center;
  text-transform: uppercase;
  color: $primary-text-color;
  margin-bottom: 148px;
  @include font(null, 30, 1.3, null);
  @include tablet {
    margin-bottom: 200px;
    font-size: 34px;
  }
  @include desktop {
    @include font(null, 36, 1.3, 0.06em);
    margin-bottom: 300px;
    
  }
}

.products__title__sec {
  @include font(800, 18, null, null);
  text-align: center;
  text-transform: uppercase;
  color: $primary-text-color;
  display: inline-block;
  margin-bottom: 12px;
  @include tablet {
    font-size: 22px;
  }
  @include desktop {
    font-size: 30px;
  }
}

.products__list {
  @include centerAlingn;
  flex-direction: column;
  gap: 168px;
  margin: 0 auto;
  @include tablet {
    gap: 16px;
    flex-direction: row;
    justify-content: center;
    align-items: normal;
  }
  @include desktop {
    gap: 29px;
  }
}

.products__item {
  max-width: 280px;
  height: 420px;
  flex-direction: column;
  padding: 123px 40px 16px;
  display: flex;
  position: relative;
  text-align: center;
  border-radius: 24px;
  @include mobile {
    padding: 123px 25px 16px;
    max-width: 250px;
    height: 426px;
  }
  @include tablet {
    padding: 108px 26px 16px;
    max-width: 224px;
    height: 428px;
  }
  @include desktop {
    padding: 165px 64px 16px;
    height: 536px;
    max-width: 370px;
  }
  &:before {
    content: '';
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translate(-50%);
    @include desktop {
      top: -200px;
      width: 300px;
      height: 300px;
    }
  }
  &:after {
    content: '';
    width: 200px;
    height: 200px;
    top: -110px;
    left: 50%;
    background-position: 50%;
    background-size: contain;
    position: absolute;
    transform: translate(-50%);
    @include desktop {
      width: 300px;
      height: 300px;
      top: -215px;
    }
  }
  &:hover {
    transform: scale(1.03);
    transition: 0.3s;
    box-shadow: 0 5.40397px 20.2649px #00000040;
    &:after,
    &:hover:before {
      animation: bounce 2s ease infinite;
    }
  }
  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translate(-50%, 0);
    }
    40% {
      transform: translate(-50%, 30px);
    }
    60% {
      transform: translate(-50%, 15px);
    }
  }
  &:nth-child(1) {
    background: #aec6a5;
    &:before {
      background: linear-gradient(
          0deg,
          rgba(156, 190, 143, 0.7),
          rgba(156, 190, 143, 0.7)
        ),
        #d9d9d9;
      box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
    }
    &:after {
      background-image: url('../images/products/ice-cream-mob.png');
      @include retina {
        background-image: url('../images/products/ice-cream-mob-2x.png');
      }
      @include tablet {
        background-image: url('../images/products/ice-cream-modal.png');

        @include retina {
          background-image: url('../images/products/ice-cream-modal-2x.png');
        }
      }
      @include desktop {
        background-image: url('../images/products/ice-cream-desktop.png');

        @include retina {
          background-image: url('../images/products/ice-cream-desktop-2x.png');
        }
      }
    }
  }
  &:nth-child(2) {
    background: #efd478;
    &:before {
      background: linear-gradient(
          0deg,
          rgba(248, 210, 78, 0.7),
          rgba(248, 210, 78, 0.7)
        ),
        #d9d9d9;
      box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
    }
    &:after {
      background-image: url('../images/products/ice-coffee-mob.png');
      @include retina {
        background-image: url('../images/products/ice-coffee-mob-2x.png');
      }
      @include tablet {
        background-image: url('../images/products/ice-coffee-modal.png');

        @include retina {
          background-image: url('../images/products/ice-coffee-modal-2x.png');
        }
      }
      @include desktop {
        background-image: url('../images/products/ice-coffee-desktop.png');

        @include retina {
          background-image: url('../images/products/ice-coffee-desktop-2x.png');
        }
      }
    }
  }
  &:nth-child(3) {
    background: #d6936d;
    &:before {
      background: linear-gradient(
          0deg,
          rgba(213, 117, 63, 0.7),
          rgba(213, 117, 63, 0.7)
        ),
        #d9d9d9;
      box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
    }
    &:after {
      background-image: url('../images/products/milkshekes-mob.png');
      @include retina {
        background-image: url('../images/products/milkshekes-mob-2x.png');
      }
      @include tablet {
        background-image: url('../images/products/milkshekes-modal.png');

        @include retina {
          background-image: url('../images/products/milkshekes-modal-2x.png');
        }
      }
      @include desktop {
        background-image: url('../images/products/milkshekes-desktop.png');

        @include retina {
          background-image: url('../images/products/milkshekes-desktop-2x.png');
        }
      }
    }
  }
}

.products-menu__title {
  text-align: center;
  text-transform: uppercase;
  color: $primary-text-color;
  margin-bottom: 40px;
  @include font(700, 20, null, null);
  @include tablet {
    font-size: 22px;
  }
  @include desktop {
    margin-bottom: 66px;
    font-size: 30px;
  }
}
.products-menu__text {
  @include font(null, 14, 1.8, null);
  text-align: center;
  color: $primary-text-color;
}

.products-menu__btn {
  position: absolute;
  bottom: 16px;
  left: 0;
  right: 0;
  width: 100%;
  height: 40px;
  background: none;
  border: none;
  overflow: hidden;
  @include tablet {
    bottom: 12px;
  }
  @include desktop {
    bottom: 60px;
  }
}

.arrow-1 {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: rotate(-90deg);
  cursor: pointer;
  @include mobile {
    top: 30%;
  }
}

.arrow-1 span {
  display: block;
  width: 15px;
  height: 15px;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.arrow-1 span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow-1 span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
/*------------------TOPPING START------------------------*/

$blue: #17d3ff;
$yellow: #d6ca91;
$aqua: #99d1f1;

$duration: 3000;

@function randomNum($min, $max) {
  $rand: random();
  $randomNum: $min + floor($rand * (($max - $min) + 1));

  @return $randomNum;
}

.icon {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 32px;
  position: relative;
}

.confetti {
  position: relative;
  overflow: hidden;
}

.confetti-piece {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: $blue;
  top: 0;
  opacity: 0;

  @for $i from 1 through 13 {
    &:nth-child(#{$i}) {
      left: $i * 7%;
      transform: rotate(#{randomNum(-80, 80)}deg);
      animation: makeItRain $duration * 1ms infinite ease-out;
      animation-delay: #{randomNum(0, $duration * 0.5)}ms;
      animation-duration: #{randomNum($duration * 0.7, $duration * 1.2)}ms;
    }
  }

  &:nth-child(odd) {
    background: $yellow;
  }

  &:nth-child(even) {
    z-index: 1;
  }

  &:nth-child(4n) {
    width: 10px;
    height: 10px;
    animation-duration: $duration * 2ms;
  }

  &:nth-child(3n) {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    animation-duration: $duration * 2.5ms;
    animation-delay: $duration * 1ms;
  }

  &:nth-child(4n-7) {
    background: $aqua;
    border-radius: 50%;
  }
}

@keyframes makeItRain {
  from {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    transform: translateY(400px);
  }
}
// ====================TOPPING END========================
