.review {
  background-image: url(../images/bg-ice/bg_desktop.png);
  background-color: $inverse-color;
  height: 1053px;
  margin-right: auto;
}
.one-time {
}

.review__customer_img {
  margin: 140px auto 32px;
}

.review__content {
  @include font(500, null, 1.86, 0.04);
  text-align: center;
  color: $fill-icon;
  background-color: $bg-color-body;
  padding: 42px 80px;
  border-radius: 24px;
  width: 968px;
  // margin: 0 93px;
  // height: 54px;
  margin: 0 auto;
  margin-bottom: 32px;
}
.review__paragraph {
  @include font(500, null, 1.86, 0.04);
  text-align: center;
  color: $primary-text-color;
  margin-bottom: 32px;
}

.slick-dots li.slick-active button:before {
  color: $bg-color-body;
}
.slick-dots li button:before {
  color: $nonactive-slide-button-color;
  width: 12px;
  height: 12px;
}
