.review {
  background-color: $inverse-color;
  margin-right: auto;
  padding: 257px 0 396px;
  background-size: cover;
  background-position: -255px -173px;
  // background-position: 50% 50%;
  // mobile default
  // height: 1132px;
  background-image: url(../images/bg-ice/bg_mob.png);
  @include retina {
    background-image: url(../images/bg-ice/bg_mob-2x.png);
  }

  @include tablet {
    padding: 283px 0 390px;
    background-position: 0 0;
    background-image: url(../images/bg-ice/bg_tablet.png);
    // height: 1017px;
    @include retina {
      background-image: url(../images/bg-ice/bg_tablet-2x.png);
    }
  }

  @include desktop {
    padding: 464px 0 228px;
    background-position: right 40px top -250px;
    background-image: url(../images/bg-ice/bg_desktop.png);
    // height: 1053px;
    @include retina {
      background-image: url(../images/bg-ice/bg_desktop-2x.png);
    }
  }
}

.review__customer_img {
  width: 85px;
  margin: 0px auto 32px;
}

.review__content {
  text-align: center;
  color: $fill-icon;
  background-color: $bg-color-body;
  padding: 35px 39px;
  border-radius: 10px;
  width: calc(100% - 40px);
  margin: 0 auto;
  margin-bottom: 32px;

  // mobile default
  @include font(400, 12, 2.55, 0.04);
  padding: 35px 39px;
  width: 280px;

  @include tablet {
    @include font(500, 14, 1.86, 0.04);
    padding: 28px 80px;
    border-radius: 24px;
    width: 693px;
    // width: 705px; bad width - glued!
  }

  @include desktop {
    @include font(500, 16, 1.86, 0.04);
    padding: 42px 80px;
    width: 968px;
  }
}

.review__paragraph {
  text-align: center;
  color: $primary-text-color;
  margin-bottom: 12px;
  // mobile default
  @include font(500, 20, 1.86, null);

  @include tablet {
    @include font(500, 16, 1.86, null);
    margin-bottom: 32px;
  }
}

.slick-dots {
  width: calc(100% - 40px);
}

.slick-dots li.slick-active button:before {
  color: $bg-color-body;
  font-size: 12px;
}

.slick-dots li button:before {
  font-size: 12px;
}

.slick-dots li button {
  color: $nonactive-slide-button-color;
  padding: 4px;
}

// continue
